<div id="<%= dom_id todo_record %>">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control"   value="<%= todo_record.title %>" disabled> 
      </div>
       <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input type="text" class="form-control"   value="<%= todo_record.description %>" disabled> 
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Status</label>
        <input type="text" class="form-control"  value="<%= todo_record.status %>" disabled> 
      </div>

</div>
